@tailwind base;
@tailwind components;
@tailwind utilities;


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

@layer utilities{
    .labelAndInput{
        @apply flex flex-col gap-1;
    }

    .input{
        @apply w-full px-3 py-2 border rounded-md outline-none focus:border-blue-500 focus:shadow-sm;
    }

    .iconAndText{
        @apply flex items-center gap-2;
    }

    .code-pre{
        @apply w-full text-pretty font-inter;
    }

}