@tailwind base;
@tailwind components;
@tailwind utilities;


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

@font-face {
    font-family: 'ClashDisplay';
    src: url(../public/fonts/ClashDisplay-Semibold.otf);
    font-weight: normal;
    font-style: normal;
}

@layer utilities{
    .labelAndInput{
        @apply flex flex-col gap-1;
    }

    .input{
        @apply w-full px-3 py-2 border rounded-md outline-none focus:border-blue-500 focus:shadow-sm;
    }

    .iconAndText{
        @apply flex items-center gap-2;
    }

    .code-pre{
        @apply w-full text-pretty font-inter;
    }

}

header.sticky {
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 1000;
    transition: 1s;
}